.hero {
  height: 320px;
  width: 100%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.hero.smallHero {
  height: 120px;
  width: 100%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}


.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
}

#hmLogo {
  padding-top: 160px;
  margin-top: 0;
}

#btFly {
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 100%; */
  /* background-position: center; */
  /* position: relative; */
}

